body {
    font-family: tahoma;
}

.container {
    text-align: center;
}

.container>h1 {
    color: #ffffff;
    margin-top: 200px;
}

form {
    background-color: #ffffff;
    width: 25%;
    margin: 0px auto;
    padding-bottom: 20px;


}

form>h2 {
    background-color: #1cdf12a6;
    color: #ffffff;
    padding: 10px;
    font-weight: 20;

}

button {
    padding: 10px 10px;
    background-color: #0fe7ca;
    width: 40%;
    border: none;
}

input[type=text],
input[type=password] {
    outline-color: black;
    background-color: wheat;
    width: 70%;
    padding: 10px;
    border: none;
}

button:hover {
    cursor: pointer;

}